:root {
  --dark: #0D0221;
  --light: #FBFBF2;
  --white: #E3E3E3;
  --white80: rgba(227, 227, 227, 0.8);
  --white50: rgba(227, 227, 227, 0.5);
  --white30: rgba(227, 227, 227, 0.3);
  --black60: rgba(0, 0, 0, 0.6);

  --themeGradientHorizontal: linear-gradient(to right, #F61067, #6564DB);
  --themeGradientVertical: linear-gradient(to bottom, #F61067, #6564DB);
  --themeGradientHorizontal50: linear-gradient(to right, rgba(246, 16, 103, 0.5), rgba(101, 100, 219, 0.5));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  grid-template-columns: 25vw auto;
  background-color: var(--dark);
  color: var(--white);
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}


h1 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 2.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.small-text {
  font-size: 1.15rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}


.sidebar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 90vh;
  
  border-right: 1px solid transparent;
  padding: 20px;
  background-image: linear-gradient(var(--dark), var(--dark)),
  var(--themeGradientVertical);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}


.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.page-title {
  background: var(--themeGradientHorizontal);
  background-clip: padding-box, border-box;
  -webkit-background-clip: text;
  color: transparent;
}

.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80%;
  text-align: center;
  height: 10%;
}

.sidebar form {
  height: 70%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.sidebar form .textbox {
  height: 10%;
  font-size: 1.75rem;
}


.sidebar form .button-container {
  height: 10%;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 90vh;
  
  /* border-left: 1px solid transparent; */
  padding: 20px;
  /* background-image: linear-gradient(var(--dark), var(--dark)),
  var(--themeGradientVertical);
  background-origin: border-box;
  background-clip: padding-box, border-box; */
}

.footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: end;
  width: 100vw;
  height: 10vh;
  
  border-top: 2px solid transparent;
  padding: 20px;
  background-image: linear-gradient(var(--dark), var(--dark)),
  var(--themeGradientHorizontal);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.footer .button-container {
  height: 80%;
  min-height: 3rem;
  align-items: center;
  justify-content: center;
  margin-right: 2.5rem;
  width: fit-content;
}


.seperator {
  width: 100%;
  border: 2px solid transparent;
  background-image: linear-gradient(var(--dark), var(--dark)),
  var(--themeGradientHorizontal);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin: 10px 0px;
}

form {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

form .button-container {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-evenly;
  width: 80%;    
  margin-top: 2rem;  
}

.button-container {
  width: 15rem;
  min-width: 15rem;
  width: 45%;
}

button {
  background-color: var(--dark);
  border: .125rem var(--white) solid;
  padding: 10px;
  color: var(--white);
  /* width: 8rem; */
  height: 100%;
  font-size: 1.5rem;
  width: 100%;
  max-width: 15rem;
  border-radius: .5dvi;
}

.textbox {
  height: 4rem;
  border-radius: .65dvi;
  border: .15rem solid var(--white50);
  background-color: var(--dark);
  margin-top: 2rem;
  color: var(--white);
  font-size: 1.5rem;
  padding-left: 3%;
  width: 80%;
}

.close-button {
  position:absolute;
  right: 1.5vw;
  top: 2vh;
}

.overflow-table-container {
  overflow-x: auto;
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
}

table {
  width: 90%;
  border-collapse: collapse;
}

.table-large {
  height: 100%;
  margin-top: 6rem;
}

.table-medium {
  height: 30%;
}

.header-row {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  border-bottom: 4px solid transparent;
  background-image: linear-gradient(var(--dark), var(--dark)),
  var(--themeGradientHorizontal);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.header-row th {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25%;
}

.table-large .row {
  display: flex;
  height: 15%;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid transparent;
  background-image: linear-gradient(var(--dark), var(--dark)),
  var(--themeGradientHorizontal50);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.table-large .row .data {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.table-medium .row {
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: center;
}


.table-medium .row .heading {
  display: flex;
  width: 50%;
  padding-left: 2rem;
  justify-content: start;
}

.table-medium .row .data {
  display: flex;
  justify-content: end;
  width: 50%;
  padding-right: 2rem;

}

.header-row .button-container {
  width: auto;
  min-width: 5rem;
  position: relative;
  right: 2rem;
}

.row .button-container {
  position: relative;
  right: 2rem;
  width: auto;
  min-width: 5rem;
  
}

.row .button-container button {
  width: 100%;
  height: 100%;
}

.header-row .button-container button{
  width: 5rem;
  position: relative;
  bottom: .5rem;
  border: none;
}

@media only screen and (max-width: 1650px) {
  body {
    grid-template-columns: 100vw;
  }

  .sidebar {
    border: none;
  }

  .main {
    border-left: none;
  }

  form .button-container {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
  }

  form .button-container button {
    min-width: 9rem;
    width: 30%;
    margin: 0px 10px;
  }
}