@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

a{
    text-decoration: none;
    color: black ;
}

a:hover{
    color: #6320EE;
}

body{
    background-image: linear-gradient(to right, #00F0B5, #1AC8ED);
    height: 100%;
}

.top-container{
    background: white;
    padding: 10px;
}

.top-container .navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-container .navbar .logo{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.top-container .navbar .logo:hover{
    cursor: pointer;
}

.top-container .navbar .logo i{
    color: white;
    background: #6320EE;
    padding: 5px;
    border-radius: 50%;
}

.top-container .navbar .nav-links{
    display: flex;
    gap: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.top-container .navbar .settings{
    display: flex;
    gap: 8px;
    background: #6320EE;
    border-radius: 50px;
    align-items: center;
    padding: 5px 10px;
}

.top-container .navbar .settings >i{
    background: #6320EE;
    padding: 5px;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.top-container .navbar .settings >i:hover{
    color: #6320EE;
    background-color: white;
}


.top-container .navbar .settings .profile{
    display: flex;
    align-items: center;
    gap: 6px;
    background: #6320EE;
    border-radius: 50px;
    cursor: pointer;
}

.top-container .navbar .settings .profile:hover{
    background: white;
    color: #6320EE;
}

.top-container .navbar .settings .profile:hover i{
    color: #6320EE;
}

.top-container .navbar .settings .profile img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.top-container .navbar .settings .profile i{
    color: white;
    font-size: 20px;
}


.middle-container{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 60%;
    padding: 15px 30px;
}

.middle-container .side-container{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.middle-container .side-container .content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: white;
    border: 4px solid #6320EE;
    /* padding: 10px; */
    border-radius: 50px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.356);
    
}

.middle-container .side-container .content .header{
    position: relative;
    bottom: 3px;
    border: 4px solid #6320EE;
    border-radius: 50px;
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
}

.middle-container .side-container .content .header h3{
    color: #6320EE;
    font-size: 30px;
    font-weight: 300;
}

.middle-container .side-container .content .header p{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.middle-container .side-container .content .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.middle-container .side-container .content .middle .left, .right{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 10px;
}

.middle-container .side-container .content .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    height: 150px;
    background: #6320EE;
    border: 4px solid #6320EE;
    color: white;
    border-radius: 50px;
    position: relative;
    top: 4px;
    font-size: 24px;
}


.middle-container .side-container .additional{
    width: 100%;
    height: 25%;
    border: 4px solid #6320EE;
    border-radius:35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #6320EE;
    transition: all 0.3s ease-in-out;
}

.middle-container .side-container .additional h4{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}


.middle-container .side-container .additional i{
    font-size: 48px;
}

.middle-container .side-container .additional:hover{
    color: white;
    background: #6320EE;
    cursor: pointer;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.459);
}

.middle-container .large-container{
    width: 80vw;
    background: white;
    border-radius: 50px;
    padding: 2px 40px 0 40px;
}

.middle-container .large-container .table-container{
    overflow-x: auto;
    height: 100%;
}

.middle-container .large-container .table-container table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.middle-container .large-container .table-container table tr td{
    height: 75px;
}

.middle-container .large-container .table-container table tr th{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #6320EE;
    background: white;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.middle-container .large-container .table-container table tr:nth-child(1){
    position: sticky;
}

.middle-container .large-container .table-container table tr:nth-child(even) td{
    color: white;
    background: #6320EE;
}

.middle-container .large-container .table-container table tr:nth-child(even) td:nth-child(1){
    border-radius: 50px 0 0 50px;
}

.middle-container .large-container .table-container table tr:nth-child(even) td:nth-child(4){
    border-radius: 0 50px 50px 0;
}


.bottom-container{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    padding: 0 30px 20px 30px;
    justify-content: space-between;
}

.bottom-container .left-container,
.bottom-container .right-container{
    background: white;
    height: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.bottom-container .title h4{
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #6320EE;
    
}

.bottom-container form{
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
}

.bottom-container form .top,
.bottom-container form .bottom{
    display: flex;
    gap: 20px;
}

.bottom-container form .top input,
.bottom-container form .bottom input{
    background: #6320EE;
    border: 1px solid #6320EE;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 430px;
    height: 60px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.bottom-container form .top input:focus,
.bottom-container form .bottom input:focus{
    background: none;
    color: #6320EE;
}

.bottom-container form .top input::placeholder,
.bottom-container form .bottom input::placeholder{
    opacity: 1;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}


.bottom-container form .button{
    width: 175px;
    height: 55px;
    background: none;
    border: 4px solid #6320EE;
    border-radius: 50px;
    color: #6320EE;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

.bottom-container form .button:hover{
    cursor: pointer;
    color: white;
    background: #6320EE;
    width: 200px;
}

.bottom-container .middle-container{
    height: 60%;
    border: 4px solid #6320EE;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #6320EE;
    font-size: 32px;
    transition: all 0.3s ease-in-out;
}

.bottom-container .middle-container:hover{
    cursor: pointer;
    height: 80%;
    background: #6320EE;
    color: white;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.527);
}


