{% extends "layout.html" %}
{% block middle %}
<div class="side-container">
    <div class="content">
        <div class="header">
            <h3>$360.10</h3>
            <p>Minimum monthly payment</p>
        </div>
        <div class="middle">
            <div class="left">
                <p>Interest:</p>
                <p>Principal:</p>
            </div>
            <div class="right">
                <p>$750.20</p>
                <p>$25,600.30</p>
            </div>
        </div>
        <div class="main">
            <h3>Total:</h3>
            <h3>$26,350.50</h3>
        </div>
    </div>
    <div class="additional">
        <h4>Simulate payments</h4>
        <i class='bx bx-chevron-right' ></i>
    </div>
</div>

<div class="large-container">
    <div class="table-container">
    <table id="loanTable">
        <tr>
            <th>Loan</th>
            <th>Balance</th>
            <th>Interest</th>
            <th>Percent</th>
        </tr>
    </table>
    </div>
</div>
{% endblock %}
{% block bottom %}
<div class="left-container">
    <div class="title">
        <h4>Add Loan</h4>
    </div>
    <form id="addLoanForm">
        <div class="top">
            <div id="fname-container">
                <input type="text" name="fname" id="fname" placeholder="Name">
            </div>
            <div id="fbalance-container">
                <input type="text" name="fbalance" id="fbalance" placeholder="Balance">
            </div>
        </div>
        <div class="bottom">
            <div id="finterest-container">
                <input type="text" name="finterest" id="finterest" placeholder="Interest">
            </div>
            <div id="fpercent-container">
                <input type="text" name="fpercent" id="fpercent" placeholder="Payment">
            </div>
        </div>
        <input class="button" type="submit" value="CONFIRM">
    </form>
</div>
<div class="right-container">
    <div class="title">
        <h4>Make Payment</h4>
    </div>
    <form action="#">
        <div class="top">
            <input type="text" placeholder="Loan">
        </div>
        <div class="bottom">
            <input type="text" placeholder="Payment">
        </div>
        <input class="button" type="submit" value="CONFIRM">
    </form>
</div>
<div class="middle-container">
    <h4>Create a Budget!</h4>
</div>
{% endblock %}
